.container {
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 2% 0;
}

button {
    display: inline-block;
    background-color: purple;
    color: white;
    margin-bottom: 2px;
}