#hsLink {
    float: left;
}

#timer {
    float: right;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.container {
    clear: both;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    size: 20px;
}

button {
    background-color: purple;
    color: white;
    margin-bottom: 4px;
}

#start {
    margin-top: 10px;
}

#alias {
    margin-top: 4px;
}

.hidden {
    display: none;
}

.revealed {
    display: block;
}