#hsLink {
    float: left;
}

#timer {
    float: right;
}

header {
    margin-bottom: 10px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.container {
    clear: both;
    text-align: center;
}

#startSection {
    text-align: center;
}

#start {
    margin-top: 10px;
}

#endSection {
    text-align: center;
}

#scorePage {
    text-align: center;
}

#alias {
    margin-top: 3px;
}

.question {
    text-align: center;
    margin: auto;
}

.questions {
    margin-bottom: 6px;
}

.answers {
    margin-bottom: 2px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    size: 16px;
}

button {
    background-color: purple;
    color: white;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}

.revealed {
    display: block;
}